*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f9f9f9;
}
.top{
	width: 100%;
	height: 60px;
	background-color: #dedede;
	font-family: "微软雅黑";
	font-size: 18px;
}
.top a{
	text-decoration: none;
	color: #3695cc;
	position: relative;
	margin-left: 10px;
	top:12px;
}
.top .icon1{
	position: relative;
	top: 15px;
	margin-left: 30px;
}

.dish{
	width: 600px;
	height: 490px;
	background-color: #fff;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
}

.dish span{
	font-family: "微软雅黑";
	font-size: 20px;
	color: #848382;
}
.dish img{
	width:600px;
	height: 460px;
	margin-top: 10px;
}

.paihao{
	width: 400px;
	height: 490px;
	background-color: #fff;
	margin-top: 15px;
	margin-left: 40px;
	float: left;
}

.paihao span:first-child{
	font-family: "微软雅黑";
	font-size: 20px;
	color: #848382;
	margin-left: 20px;
}

.free{
	margin:30px 20px;
}
.free img{
	position: relative;
	top:4px;
}
.free span{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #848382;
}

.queue{
	margin:30px 20px;
}
.queue img{
	position: relative;
	top:4px;
}
.queue span{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #848382;
}

.info{
	margin:30px 20px;
}
.info img{
	position: relative;
	top:4px;
}
.info span{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #848382;
}

.order{
	text-align: center;
}
.order button{
	width: 80px;
	height: 33px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #333;
}