*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f9f9f9;
}
.top{
	width: 100%;
	height: 60px;
	background-color: #dedede;
	font-family: "微软雅黑";
	font-size: 18px;
}
.top a{
	text-decoration: none;
	color: #3695cc;
	position: relative;
	margin-left: 10px;
	top:12px;
}
.top .icon1{
	position: relative;
	top: 15px;
	margin-left: 30px;
}

.dishes{
	margin-top:30px;
	height: 373px;
	overflow-y:hidden;
}
.dishes table{
	margin:0px 50px;
}
.dishes table tr td{
	width: 300px;
	text-align: center;
	vertical-align: top;
	display:inline-block;
	margin-left:30px;
	border: 1px solid #dedede;
}
.dishes img{
	width: 300px;
	height: 200px;
}

.intro{
	font-family: "微软雅黑";
	font-size: 15px;
	color: #848382;
	margin-top: 15px;
}

.dishes table tr td p:not(.intro){
	font-family: "微软雅黑";
	font-size: 20px;
	color: #848382;
	margin-top: 15px;
}

.dishes input[type="button"]{
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	margin-top: 20px;
}
.dishes input[type="text"]{
	width: 240px;
	height: 30px;
	text-align: center;
	border: none;
	background-color: #dedede;
	display: block;
	float: left;
	margin-top: 20px;
	color: #333;
	font-size: 18px;
}

.page{
	width: 400px;
	height: 40px;
	margin:20px auto;
	text-align:center;
	font-family: "微软雅黑";
	font-size: 20px;
}
.page a{
	text-decoration: none;
	color: #3695cc;
	font-family: "微软雅黑";
	font-size: 20px;
	margin-left: 10px;

}

input[type="submit"]{
	width: 500px;
	height: 40px;
	background-color: #E3162E;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 20px;
	display: block;
	margin:0px auto;
}

.refresh{
	float: right;
	margin-right: 30px;
}


.refresh img{
	width: 22px;
	height: 22px;
	position: relative;
	top:15px;
}